<div
  class="modal fade"
  id="jsonModal"
  tabindex="-1"
  aria-labelledby="jsonModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="jsonModalLabel">JSON do Anúncio</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Fechar"
        ></button>
      </div>
      <div class="modal-body">
        <andypf-json-viewer
        id="jsonContent"
        indent="2"
        expanded="true"
        theme="default-light"
        show-data-types="true"
        show-toolbar="false"
        expand-icon-type="arrow"
        show-copy="true"
        show-size="true"
        ></andypf-json-viewer>
      </div>
    </div>
  </div>
</div>
