{% extends 'base.html' %}

{% block content %}
<h2>Bem-vindo, {{ current_user.username }}</h2>
<div class="row">
    {% for listing in listings %}
    <div class="col-md-4">
        <div class="card">
            <img src="{{ listing.image_url }}" class="card-img-top" alt="Imagem do Anúncio">
            <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.price }}</p>
                <a href="{{ listing.url }}" class="btn btn-primary">Ver no Mercado Livre</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
